capstone/frontend/.DS_Store
capstone/frontend/node_modules
capstone/frontend/dist
capstone/frontend/build
capstone/frontend/public/assets/pdf/
capstone/frontend/public/assets/media/
capstone/frontend/.env

# .myenv folder
.myenv
.venv


# local env files
# .env
.env.local
.env.*.local
capstone/*/.env.local
capstone/*/.env.*.local
*.env
*.env.*

# Log files
capstone/frontend/npm-debug.log*
capstone/frontend/yarn-debug.log*
capstone/frontend/yarn-error.log*
capstone/frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#backend files
capstone/backend/capstone/__pycache__
capstone/backend/emrsystem/__pycache__
capstone/backend/emrsystem/migrations/__pycache__
capstone/backend/python-3.8-venv
capstone/backend/data/media/*

#capstone/backend/capstone/settings.py

# Terraform files
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/crash.log
infra/*.tfvars
!infra/*.tfvars.example
infra/override.tf
infra/override.tf.json