STATIC_ROOT_LOCATION=
MEDIA_ROOT_LOCATION=
PDF_ROOT_LOCATION=
DATABASE_URL=
DEBUG=

# If images need to be stored in AWS S3 buckets
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_REGION=