:root {
    // --primary-text-color: #212529;
    --primary-text-color: #000000;
    --primary-accent-dark: #c60000;
    --primary-accent-light: #db1111;
    --lightest-gray: #fafafa;
    --light-gray: #f4f4f4;
    --medium-gray: #c4c4c4;
    --dark-gray: #454545;
    --link-blue: #0959d2;
    --input-text-color: #484848;
    --section-data-color: #484848;
    --button-blue: #0084CE;
    --button-gray: #4F4F4F;
    --focus-blue: #20ADFD;
    --background: #F4F4F4;
    --background-primary: #FFFFFF;
    --input-border-color: #DBDBDB;

}