:root {
    // --primary-text-color: #212529;
    --primary-text-color: #000000;
    --primary-accent-dark: #c60000;
    --primary-accent-light: #db1111;
    --sidepanel-color: #1A1A1A;
    --lightest-gray: #fafafa;
    --light-gray: #f4f4f4;
    --medium-gray: #c4c4c4;
    --dark-gray: #454545;
    --link-blue: #0959d2;
    --input-text-color: #484848;
    --section-data-color: #484848;
    --button-blue: #0084CE;
    --button-gray: #4F4F4F;
    --focus-blue: #20ADFD;
    --background: #F2F2F2;
    --background-primary: #FFFFFF;
    --input-border-color: #DBDBDB;
    --tooltip-background-color: #222c3cCC;
    --tooltip-background-color-light: #354052CC;
    --blue: #536DFE;
    --yellow: #F9A826;
    --success: #28A785;
    --error: #F50057;


}